@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --preto: #000000ff;
    --azul-escuro: #14213dff;
    --amarelo: #fca311ff;
    --cinza: #e5e5e5ff;
    --branco: #ffffffff;
}

body {
    background-color: var(--cinza);
    color: var(--preto);
    font-size: 16px;
}

.cabecalho {
    bacckground-color: var(--fonte-titulo)
    display: flex;
    justify-content: space-batween;
    align-items; center;
    
}

.cabecalho-img{
    whidth:10%;
    boeder-radius:100%;
}

.cabecalho-nav__link{
    text-decoration: none;
    font-family: var(--azul-escuro);
    font-size: 30%;
    color: var(--azul-escuro);
    margin: 24%;
}

.pricipal-capa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-image: url(img/fundo.jpg);
    
}