@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root{
    --preto: #000000ff;
    --azul-escuro: #14213dff;
    --amarelo: #fca311ff;
    --cinza: rgb(53, 51, 51);
    --branco: #ffffffff;
    --fonte-titilo: "New Amsterdam", sans-serif;
    --fonte-texto: "Baskervville SC", serif;
}

body{
    background-color: var(--preto);
    color: var(--branco);
    font-size: 16px;
}

.cabecalho{
    background-color: var(--preto);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 12px;
}

.cabecalho-logo{
    width: 20%;
    border-radius: 100%;
}

.cabecalho-nav__link {
    text-decoration: none;
    font-family: var(--branco);
    font-size: 25px;
    color: var(--branco);
    margin: 36px;
}

.cabecalho-nav__link:hover{
    color: var(--amarelo);
    font-size: none;
    transition: 0.5s;
    text-shadow: 2px 2px var(--amarelo);
}

.principal-capa{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.principal-capa__combotao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.principal-capa__botao{
    background-color: var(--amarelo);
    color: var(--preto);
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em;
    text-decoration: none;
}

.principal-capa__botao:hover{
    padding: 1.2em;
    background-color: var(--cinza);
    color: var(--amarelo);
    transition: 0.5s;
}

.botao__secundario{
    background-color: transparent;
    border: 2px solid var(--amarelo);
    color: var(--amarelo);
}

.propaganda_img{
    width: 30%;
    border-radius: 36px;
}

.propaganda_titulo{
    color: var(--branco);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.propaganda_titulo:hover{
    text-shadow: 1px 1px;
    transition: 0.7s;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-family: var(--fonte-titilo);
    font-size: 30px;
    color: var(--amarelo);
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item{
    font-size: 24px;
    color: var(--amarelo);
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
} 

.lista__link a{
    color: var(--amarelo);
    text-decoration: none;
    margin-left: 1em;
    font-size: 16px;
}

.rodape__texto{
    margin: 1em 0;
    color: var(--amarelo);
    font-size: 10px;
}

.rodape__logo{
    width: 30px;
}

.rodape{
    text-align: center;
    margin: 1em 3em;
}